<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/ErrorPage.css">

</head>

<body>

    <div class="error-container">
        <div class="error-content">
            <h1>404</h1>
            <p>Oops! The page you're looking for cannot be found.</p>
            <a href="/" class="btn">Go Back to Homepage</a>
        </div>
    </div>

</body>

</html>