<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="./../assets/css/LandingPageStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css">

</head>

<body>
    
        
        <nav class="navbar">
            <div class="nav-container">
                <div class="company">
                <img src="./CSS/LogoPic.png" alt="logo" class="logo">
                <div class="company-name">Recy<span id="q" style="color: rgb(39, 231, 39);">Q</span></div>
                </div>
                <div class="search-bar">
                    <i class="ri-search-line" style="color: black; opacity: 0.7;"></i>
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </div>
                <div class="login-options">
                    <a href="LogIn.html">Login</a>
                </div>
                <div class="burger-menu">&#9776;</div>
            </div>
        </nav>
    


    <div class="main">
        <div class="title">Fresh Recommendations</div>
        <div class="container-fluid">
            <div class="products row">
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product1">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product2">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product3">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product4">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product5">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-2" id="product6">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product7">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product8">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product9">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product10">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product11">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
                <div class="product-card col-sm-6 col-md-3 col-lg-1" id="product12">
                    <div class="product-img">
                        <img class="product-image"
                            src="https://images.unsplash.com/photo-1712313498056-1feb70bd6999?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-name">Product name-1</div>
                        <div class="product-price">
                            <div class="product-price">$100</div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        

    </div>
    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>