 /* Resetting default margin and padding */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-content {
    text-align: center;
}

h1 {
    font-size: 8rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6rem;
    }

    p {
        font-size: 1.2rem;
    }
}